.aboutAstronight {
    padding: 32px 0px;
}
.aboutAstronight-textColumn-container {
    align-items: top;
    text-align: center;
    margin: auto;
}
.aboutAstronight-textColumn {
    vertical-align: top;
    display: inline-block;
    width: 45vw;
    max-width: 491px; /*1000/2 - (inline-block = 2)/2 - (padding = 8)  */
    padding: 0 8px;
    margin: 0 auto;
    text-align: justify;
}

@media only screen and (max-width: 900px) {
    .aboutAstronight-textColumn {
        padding: 0px 32px;
        width: auto;
        max-width: none;
    }
}
@media only screen and (max-width: 500px) {
    .aboutAstronight-textColumn {
        padding: 0px 16px;
        text-align: left;
    }
}
