.faq {
    padding: 32px 0;
    background-color: #23303c;
    text-align: justify;
}

.faq-tableOfContents {
    list-style: decimal;
    padding: 8px;
}

.faq-content-container {
    width: calc(90vw + 17px);
    max-width: 1000px;
    margin: 0 auto;
}
.faq-section-container {
    margin-top: 16px;
}
.faq-section-header {
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
}
.faq-section-content-container {
    text-align: justify;
}
.faq-section-content-image-container {
    margin: 32px 32px 16px 16px;
    background-color: #3b5269;
    border-radius: 6px;
}
.faq-section-content-image {
    width: 30vw;
    border-radius: 6px;
    margin: -16px -16px 16px 16px;
    vertical-align: middle; /*remove 3px of downwards padding*/
}

@media only screen and (max-width: 900px) {
    .faq-content-container {
        padding: 0px 32px;
        width: auto;
        max-width: none;
    }
    .faq-section-content-container {
        text-align: left;
    }
}
@media only screen and (max-width: 500px) {
    .faq-content-container {
        padding: 0px 16px;
        text-align: left;
    }
}
