@font-face {
    font-family: "nasaliza";
    src: url(/fonts/nasaliza.ttf);
}

* {
    margin: 0;
    padding: 0;

    font-family: "Helvetica Neue";
    color: lightgray;
    font-size: 1rem;
}

body {
    background-color: black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
