@font-face {
  font-family: 'nasaliza';
  src: url(fonts/nasaliza.ttf);
}


*{
  margin: 0;
  padding: 0;

  font-family:'Helvetica Neue';
  color:white;
  font-size: 1rem;
}

body{
  background-color: black;
}

.hero{
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
.hero-title-container{
  display: flex;

  position:absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-title{
  color:white;

  font-size: 10rem;
  font-family:'nasaliza';
}
.hero-downarrow-container{
  display: flex;

  position:absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-downarrow{
  color:white;
  font-size: 50px;
}


.sectionHeader-container{
  height: auto;
  width: 100vw;
  padding-bottom: 16px;
}
.sectionHeader{
  color:white;
  font-size: 5rem;
  font-family:'nasaliza';
  text-align: center;
}

.sectionSeparator{
  background-color: gray;
  display: flex;
  height: 2px;
  width: 100vw;
}

.events{
  padding: 32px;
  width: 100vw;
}
.events-dates{
  text-align: center;
}

.aboutAstronight{
  width: 100vw;
  padding: 32px;
}
.aboutAstronight-textColumn-container{
  align-items: top;
  text-align: center;
  padding: 0px 32px;
}
.aboutAstronight-textColumn{
  vertical-align: top;
  display:inline-block;
  max-width: 500px;
  padding: 0 16px;
  margin: 0 auto;
  text-align: justify;
}

.faq{
  position: relative;
  width: 100vw;
  padding: 32px;
}
.faq-entryCollection-container{
  align-items: top;
  text-align: center;
  padding: 0px 32px;
}
.faq-entry-container{
  display: inline-block;
  max-width: 500px;
  padding: 16px;
  margin: 4px 0px 4px 4px;
  border-radius: 8px;

  background-color: #202020;
}
.faq-entry-header{
  display: block;
  font-size: 3rem;
}
.faq-entry-body{
  display: block;
  text-align: justify;
}
