@font-face {
  font-family: 'nasaliza';
  src: url(fonts/nasaliza.ttf);
}


*{
  margin: 0;
  padding: 0;

  font-family:'Helvetica Neue';
  color:lightgray;
  font-size: 1rem;
}

body{
  background-color: black;
}


/* Hero Section */
.hero{
  display:block;
  height: 100vh;
  align-items: center;
}
.hero-title{
  text-align: center;
  font-size: 14vw;
  font-family:'nasaliza';
  color: rgb(29, 145, 204);
}
.hero-title-image{
  height: 10vw;
}
@media only screen and (min-width: 1100px) {
  .hero-title {
     font-size: 10rem;
  }
  .hero-title-image{
    height: 7rem;
  }
}
.hero-downArrow-container{
  position:absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-downArrow{
  font-size: 50px;
  cursor: pointer;
}
.hero-image-container{
  position:absolute;
  top:0px;
  z-index: -1;
  width:100vw;
  height: 100vh;
  text-align: center;
  
}
.hero-image{
  display: flex;
  position: absolute;
  width:inherit;
  height: inherit;
  /* Might be overridden in index.html */
  object-fit:contain;

  opacity: 0;
  transition: opacity 2s
}

/* Section Header */
.sectionHeader-container{
  height: auto;
  padding-bottom: 16px;
}
.sectionHeader{
  color:white;
  font-size: 5rem;
  font-family:'nasaliza';
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .sectionHeader {
     font-size: 14vw;
  }
}


/* Section Separator */
.sectionSeparator{
  background-color:#303030;
  display: flex;
  height: 2px;
  width: 100vw;
}


/* Event Section */
.events{
  padding: 32px;
}
.events-dates{
  text-align: center;
}


/* About Astronight Section */
.aboutAstronight{
  padding: 32px;
}
.aboutAstronight-textColumn-container{
  align-items: top;
  text-align: center;
  padding: 0px 32px;
}
.aboutAstronight-textColumn{
  vertical-align: top;
  display:inline-block;
  width: 35vw;
  max-width: 500px;
  padding: 0 16px;
  margin: 0 auto;
  text-align: justify;
}
@media only screen and (max-width: 1000px) {
  .aboutAstronight-textColumn{
    width: auto;
  }
}


/* FAQ Section */
.faq{
  padding: 32px;
}
.faq-entryCollection-container{
  text-align: center;
  width: auto;
  padding: 0px 32px;
}
.faq-entry-container{
  display: inline-block;
  vertical-align: top;
  width: 40vw;
  max-width: 500px;
  padding: 8px;
  margin: 4px 0px 4px 4px;
  border-radius: 8px;

  background-color: #202020;
}
@media only screen and (max-width: 1100px) {
  .faq-entry-container{
    width: calc(100% - 4px - 16px);
  }
}
.faq-entry-header{
  text-align: left;
  display: block;
  font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  border: none;

  color: lightgray;
}
.faq-entry-header:hover{
  color: white;
  font-weight:450
}
.faq-entry-body{
  margin: 8px;
  display: none;
  text-align: justify;
}
